@charset "utf-8";

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/
*
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-size: cover;
}

.cont
{
    width: 85% !important;
    max-width: 1080px;
    height: 1900px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.igmDiv
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    width: calc(33.33% - 20px);
    text-align: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

.igmDiv::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-in-out;
}

.igmDiv:hover::after {
    background: rgba(0, 0, 0, 0.7);
}

.igmDiv div
{
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #f0f0f0;
    transition: color 0.3s ease-in-out;
}

.igmDiv:hover div {
    color: #fff !important;
}

.igmDiv div h2,
.igmDiv div p {
    transition: color 0.3s ease-in-out !important;
}

.igmDiv:hover div h2,
.igmDiv:hover div p {
    color: #fff !important;
}
