/* generalStyles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(https://i.pinimg.com/originals/be/c8/da/bec8da01dc040a0a5205da7f404ff749.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(1, 1, 1, 0.90);
    margin: 0;
    background-attachment: fixed;
}

.header {
    border: 1px solid #ffffff;
    background-color: rgba(1, 1, 1, 0.90);
    color: white;
    padding: 20px 0;
    opacity: 0.7;
}

.menu {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-left: 25px;
}

.menu a:hover {
    background-color: #555;
    filter: brightness(120%);
}

.content
{

    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.footerGame
{
    padding: 30px 0;
    border: 1px solid #ffffff;
    background-color: rgba(1, 1, 1, 0.90);
    color: white;
    bottom: 0;
    margin: 0;
    text-align: center;
    opacity: 0.8;
}

.cont
{
    width: 85% !important;
    max-width: 1080px;
    height: 1900px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.igmDiv
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    width: calc(33.33% - 20px);
    text-align: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

.igmDiv::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-in-out;
}

.igmDiv:hover::after {
    background: rgba(0, 0, 0, 0.7);
}

.igmDiv div
{
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #f0f0f0;
    transition: color 0.3s ease-in-out;
}

.igmDiv:hover div {
    color: #fff !important;
}

.igmDiv div h2,
.igmDiv div p {
    transition: color 0.3s ease-in-out !important;
}

.igmDiv:hover div h2,
.igmDiv:hover div p {
    color: #fff !important;
}

