/* generalStyles.css */
body
{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(205, 205, 205, 0.6);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header
{
    border: 1px solid #ffffff;
    background-color: rgba(1, 1, 1, 0.90);
    color: white;
    padding: 20px ;
    text-align: center;
    opacity: 0.8;
}

.menu {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-left: 25px;
}

.atagB{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-left: 25px;
    justify-items: center;
    align-items: center;
}

.atagB:hover {
    background-color: #555;
    filter: brightness(120%);
    justify-items: center;
    align-items: center;
}

.menu a:hover {
    background-color: #555;
    filter: brightness(120%);
}

.content
{
    background-color: rgba(1, 1, 1, 0.90) !important;
    color: #f0f0f0;
    display: compact;
    border: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 300px;
    background-size: cover;
    z-index: 1;
    flex: 1 0 auto;
}

.footer
{
    border: 1px solid #ffffff;
    background-color: rgba(1, 1, 1, 0.90);
    color: white;
    padding: 20px ;
    text-align: center;
    opacity: 0.8;
}

.contentDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 300px;
    background-size: cover;
    z-index: 1;
}

.contentDivForm
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 300px;
    background-size: cover;
    z-index: 1;
}

.contentDivFormButton
{
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    color: #000000;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 0 30px;
    cursor: pointer;
}

.contentDivFormButton:hover
{
    background-color: #0056b3;
}